<main class="forgot-password">
  <div class="max-width vertical-center">
    <app-header></app-header>
    <div class="card" *ngIf="resetStatus === 'valid' || resetStatus === ''">
      <h2>Reset password</h2>
      <div>
        <form (ngSubmit)="resetPassword()" #resetMyPassword="ngForm">
          <p>Create a new password for your Videoflix account.</p>

          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Enter a Password"
              [(ngModel)]="password"
              name="password"
              required
            />
            <img
              *ngIf="!showPassword"
              src="../../assets/img/icons/visibility.png"
              alt=""
              (click)="togglePasswordVisibility()"
            />
            <img
              *ngIf="showPassword"
              src="../../assets/img/icons/visibility_off.png"
              alt=""
              (click)="togglePasswordVisibility()"
            />
          </div>

          <div class="password-container">
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Confirm Password"
              [(ngModel)]="passwordConfirmed"
              name="passwordConfirmed"
              required
            />
            <img
              *ngIf="!showPassword"
              src="../../assets/img/icons/visibility.png"
              alt=""
              (click)="togglePasswordVisibility()"
            />
            <img
              *ngIf="showPassword"
              src="../../assets/img/icons/visibility_off.png"
              alt=""
              (click)="togglePasswordVisibility()"
            />
          </div>
          <div class="card-bottom">
            
            <!-- <button type="submit" [disabled]="!resetMyPassword.valid && password == passwordConfirmed">Reset my password</button> -->

            @if (resetMyPassword.valid && password == passwordConfirmed) {
              <button type="submit">Reset my password</button>
              } @else {
              <button type="submit" disabled="disabled">Reset my password</button>
              }
            
          </div>
        </form>
  
      </div>
    </div>

    <div class="card" *ngIf="resetStatus === 'success'">
      <h2>Password Reset Successful</h2>
      <p>
        Your password has been successfully reset. You can now log in with your
        new password.
      </p>
    </div>

    <div class="card" *ngIf="resetStatus === 'invalid'">
      <h2>Invalid Token</h2>
      <p>The password reset link is invalid or has expired.</p>
    </div>

    <div class="card" *ngIf="resetStatus === 'error'">
      <h2>Error</h2>
      <p>There was an error resetting your password. Please try again.</p>
    </div>

    <app-footer></app-footer>
  </div>
</main>
