<main class="forgot-password">
    <div class="max-width vertical-center">
      <app-header></app-header>
      <div class="card">
        <h2>Reset password</h2>
  
        <form action="">
          <p>
            Create a new password for your Videoflix account.
          </p>
          <!-- <input type="password" name="" id="" placeholder="Enter a password" />
          <input type="password" name="" id="" placeholder="Confirm password" /> -->

          <div class="password-container">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              placeholder="Enter a Password" 
              [(ngModel)]="password"
              name="password"
            />
            <img *ngIf="!showPassword" src="../../assets/img/icons/visibility.png" alt="" (click)="togglePasswordVisibility()" >
            <img *ngIf="showPassword" src="../../assets/img/icons/visibility_off.png" alt="" (click)="togglePasswordVisibility()" />  
          </div>

          <div class="password-container">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              placeholder="Confirm Password" 
              [(ngModel)]="password_confirmed"
              name="password_confirmed"
            />
            <img *ngIf="!showPassword" src="../../assets/img/icons/visibility.png" alt="" (click)="togglePasswordVisibility()" >
            <img *ngIf="showPassword" src="../../assets/img/icons/visibility_off.png" alt="" (click)="togglePasswordVisibility()" />  
          </div>
        </form>
        <div class="card-bottom">
          <button>Reset my password</button>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </main>
