
<div class="container">

  <video class="trailer" #videoPlayer>
    <source src="../../assets/video-trailer/escape.mp4" type="video/mp4" />
  </video>

  <div class="overlay" (click)="toggleVideo()">

    <div class="topIcons">
        <div class="topLeftIcons">
          <img src="../../assets/img/icons/arrow_back.png" alt="" />
        </div>
        <div class="topMiddleText">Optimizing video for your screen 40%</div>
        <div class="topRightIcons">
          <img src="../../assets/img/icons/logo-icon.png" alt="" />
        </div>
      </div>

    <div class="bottomIcons">
        <div class="leftIcons">
          <img src="../../assets/img/icons/play_arrow.png" alt="" />
          <img src="../../assets/img/icons/replay_10.png" alt="" />
          <img src="../../assets/img/icons/forward_10.png" alt="" />
          <img src="../../assets/img/icons/volume_up.png" alt="" />
        </div>
        <div class="middleTitle">Majestic Whales</div>
        <div class="rightIcons">
          <img src="../../assets/img/icons/subtitles.png" alt="" />
          <img src="../../assets/img/icons/speed.png" alt="" />
          <img src="../../assets/img/icons/fullscreen.png" alt="" />
        </div>
      </div>

  </div>
</div>


<!-- <div class="wrapper">
  <div class="videoContent">
    <div class="demoBox">
      <video class="trailer" #videoPlayer (click)="toggleVideo()">
        <source src="../../assets/video-trailer/escape.mp4" type="video/mp4" />
      </video>
    </div>
  </div>
</div> -->

<!-- <video
    width="80%"
    height="80%"
    class="trailer"
    #videoPlayer
    (click)="toggleVideo()"
  >
    <source src="../../assets/video-trailer/escape.mp4" type="video/mp4" />
  </video> -->

<!-- <div class="videoWrapper">
    <div class="topIcons">
      <div class="topLeftIcons">
        <img src="../../assets/img/icons/arrow_back.png" alt="" />
      </div>
      <div class="topMiddleText">Optimizing video for your screen 40%</div>
      <div class="topRightIcons">
        <img src="../../assets/img/icons/logo-icon.png" alt="" />
      </div>
    </div>

    <div class="bottomIcons">
      <div class="leftIcons">
        <img src="../../assets/img/icons/play_arrow.png" alt="" />
        <img src="../../assets/img/icons/replay_10.png" alt="" />
        <img src="../../assets/img/icons/forward_10.png" alt="" />
        <img src="../../assets/img/icons/volume_up.png" alt="" />
      </div>
      <div class="middleTitle">Majestic Whales</div>
      <div class="rightIcons">
        <img src="../../assets/img/icons/subtitles.png" alt="" />
        <img src="../../assets/img/icons/speed.png" alt="" />
        <img src="../../assets/img/icons/fullscreen.png" alt="" />
      </div>
    </div>
  </div>
</div> -->

<!-- <button (click)="toggleVideo()">
  {{ videoPlayer.paused = "Play" : "Pause" }}
  Play / Pause
</button> -->
