<div class="wrapper">
  <div class="container" *ngIf="videoData">
    <video
      #target
      id="target"
      [src]="apiUrl + videoData.video_file"
      (timeupdate)="updateSeekbar()"
    ></video>

    <div class="overlay">
      <div class="topIcons">
        <div class="topLeftIcons">
          <img
            src="../../assets/img/icons/arrow_back.png"
            alt=""
            routerLink="/videos"
          />
        </div>
        <div class="topMiddleText">
          Optimizing video for your screen {{ bufferedPercent.toFixed() }}% / {{bufferedTime.toFixed()}} sek. ({{
            selectedResolution
          }})
        </div>
        <div class="topRightIcons">
          <img
            src="../../assets/img/icons/logo-icon.png"
            alt=""
            routerLink="/"
          />
        </div>
      </div>
      <div class="middleVideoDescription" *ngIf="isVideoDescriptionVisible">
        <h1>{{ videoData.title }}</h1>
       
        <p>
          <small>{{ videoDuration }} Min.</small><br><br>
          {{ videoData.description }}
        </p>
      </div>
      <div class="bottom-controls">
        <div class="custom-controls">
          <input
            type="range"
            #seekbar
            [value]="seekbarValue"
            (input)="onSeek($event)"
            step="0.1"
          />
          <span class="video-duration"
            >{{ formatTime(currentTime) }} / {{ videoDuration }}</span
          >
        </div>
        <div class="bottomIcons">
          <div class="leftIcons">
            <img
              *ngIf="target.paused"
              src="../../assets/img/icons/play_arrow.png"
              alt=""
              (click)="toggleVideo()"
            />
            <img
              *ngIf="!target.paused"
              src="../../assets/img/icons/pause.png"
              alt=""
              (click)="toggleVideo()"
            />
            <img
              src="../../assets/img/icons/replay_10.png"
              alt=""
              (click)="rewind(10)"
            />
            <img
              src="../../assets/img/icons/forward_10.png"
              alt=""
              (click)="forward(10)"
            />
            <img
              src="../../assets/img/icons/volume_up.png"
              *ngIf="!isMuted"
              alt=""
              (click)="toggleMute()"
            />
            <img
              src="../../assets/img/icons/volume_off.png"
              *ngIf="isMuted"
              alt=""
              (click)="toggleMute()"
            />
          </div>
          <div class="middleTitle">{{ videoData.title }}</div>
          <div class="rightIcons">
            <img
              src="../../assets/img/icons/subtitles.png"
              alt=""
              (click)="toogleVideoDescription()"
            />
            <img
              src="../../assets/img/icons/speed.png"
              alt=""
              (click)="toggleResolutionPopup()"
            />
            <img
              src="../../assets/img/icons/fullscreen.png"
              alt=""
              (click)="toggleFullscreen()"
            />
          </div>
        </div>

        <div class="resolution-popup" [class.show]="isResolutionPopupOpen">
          <ul>
            <li
              (click)="determineOptimalResolution()"
              [class.selected]="!isUserSelectedResolution"
            >
              Automatisch ({{ this.resolution }})
            </li>
            <li
              *ngFor="let res of ['120p', '360p', '720p', '1080p']"
              (click)="userSelectedResolution(res)"
              [class.selected]="
                selectedResolution === res && isUserSelectedResolution
              "
            >
              {{ res }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
