<main class="login">
  <div class="max-width vertical-center">
    <app-header></app-header>
    <div class="card">
      <h2>Log in</h2>
      <!-- <form (ngSubmit)="login(loginForm)" #loginForm="ngForm"> -->
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <input
          type="email"
          placeholder="Email Address"
          [(ngModel)]="email"
          name="email"
          pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
          required

        />
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            placeholder="Enter a Password"
            [(ngModel)]="password"
            name="password"
            required
          />
          <img
            *ngIf="!showPassword"
            src="../../assets/img/icons/visibility.png"
            alt=""
            (click)="togglePasswordVisibility()"
          />
          <img
            *ngIf="showPassword"
            src="../../assets/img/icons/visibility_off.png"
            alt=""
            (click)="togglePasswordVisibility()"
          />
        </div>
        <label><input type="checkbox" name="rememberme" [(ngModel)]="rememberme" /> Remember me</label>
        <div class="horizontal-center">
          <!-- <button type="submit">Log in</button> -->

          @if (loginForm.valid ) {
            <button type="submit">Log in</button>
            } @else {
            <button type="submit" disabled="disabled">Log in</button>
            }


        </div>
      </form>
      <div class="card-bottom">
        <a routerLink="/forgot-password">Forgot password?</a>
        <div>New to Videoflix? <a routerLink="/signup">Sign Up now</a></div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
