.startsite {
    min-height: 100vh;
    background-image: linear-gradient(
        180deg,
        #000000 -19.89%,
        rgba(0, 0, 0, 0.55) 40.46%,
        #000000 100%
      ),
      url("../../assets/img/background/startsite.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
  }
  
  .vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    form {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }
  
  input {
    width: 360px;
    background-color: transparent !important;
    padding: 12px 24px;
    gap: 10px;
    border-radius: 40px;
    border: 1px solid #ffffff;
    color: white;
    outline: unset;
  }
  
  input::placeholder {
    max-width: 360px;
    color: white;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin: 0;
  }
  
  h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62.5px;
    text-align: left;
    margin: 0;
  }
  