<main class="signup">
    <div class="max-width vertical-center">
      <app-header></app-header>
      <div class="card">
        <h2>Sign up</h2>
        <form action="">
          <input class="input" type="email" name="" id="" placeholder="Email Address"/>       

          <div class="password-container">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              placeholder="Enter a Password" 
              [(ngModel)]="password"
              name="password"
            />
            <img *ngIf="!showPassword" src="../../assets/img/icons/visibility.png" alt="" (click)="togglePasswordVisibility()" >
            <img *ngIf="showPassword" src="../../assets/img/icons/visibility_off.png" alt="" (click)="togglePasswordVisibility()" />  
          </div>

          <div class="password-container">
            <input 
              [type]="showPassword ? 'text' : 'password'" 
              placeholder="Confirm Password" 
              [(ngModel)]="password_confirmed"
              name="password_confirmed"
            />
            <img *ngIf="!showPassword" src="../../assets/img/icons/visibility.png" alt="" (click)="togglePasswordVisibility()" >
            <img *ngIf="showPassword" src="../../assets/img/icons/visibility_off.png" alt="" (click)="togglePasswordVisibility()" />  
          </div>
   
          
        </form>
        <div class="card-bottom">
          <button>Get Started</button>
    
      </div>
      </div>
      <app-footer></app-footer>
    </div>
  </main>
