<main class="forgot-password">
  <div class="max-width vertical-center">
    <app-header></app-header>
    <div class="card">
      <h2>Forgot your<br />password?</h2>

      <form (ngSubmit)="onSubmit()" #forgotPasswordForm="ngForm">
        <p>
          We will send you an email with instructions to reset your password.
        </p>
        <input type="email" placeholder="Email Address"
        [(ngModel)]="email"
        name="email"
        required
        pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
        />
        <div class="card-bottom">
          <button type="submit" [disabled]="!forgotPasswordForm.valid">Send Email</button>


          
        </div>
      </form>
      <p *ngIf="statusMessage">{{ statusMessage }}</p>
    </div>
    <app-footer></app-footer>
  </div>
</main>
