<div class="black">
  <div class="video-overlay">
    <video
      class="video"
      width="100%"
      height="100%"
      id="trailer"
      autoplay
      [muted]="true"
      loop
      #trailer
    >
      <source [src]="this.apiUrl + trailerVideoUrl" type="video/mp4" />
    </video>
    <div class="gradient-overlay"></div>
  </div>

  <main class="video-offer">
    <div class="max-width vertical-center">
      <app-header></app-header>

      <div class="video-preview">
        <div class="video-info-preview">
          <h1>{{ trailerTitle }}</h1>
          <p>
            {{ trailerDescription }}
          </p>
          <div>
            <button routerLink="/videoplayer/{{ trailerId }}">Play</button>
          </div>
        </div>
      </div>

      <div class="video-content">
        <div class="video-category" *ngIf="videosWithProgress.length > 0">
          <h3>Watchlist</h3>
          <div class="video-thumbnails">
            <div
              *ngFor="let movie of videosWithProgress"
              (click)="setActiveThumbnail(movie.id)"
              [class.active]="movie.id === activeThumbnailId"
              (keydown)="handleKeydown($event)"
              (click)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
              (focusin)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
            >
              <img
                src="{{ movie.thumbnail }}"
                alt="{{ movie.title }}"
                tabindex="0"
              />
            </div>
          </div>
        </div>

        <div class="video-category" *ngFor="let video of videos">
          <h3>{{ video.title }}</h3>
          <div class="video-thumbnails">
            <div *ngFor="let movie of video.videos"
            (click)="setActiveThumbnail(movie.id)"
            [class.active]="movie.id === activeThumbnailId"
            (keydown)="handleKeydown($event)"
            (click)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
            (focusin)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
            
            >
              <img
                src="{{ this.apiUrl }}/{{ movie.thumbnail }}"
                alt="{{ movie.title }}"
                tabindex="0"
       
              />
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      <app-footer></app-footer>
    </div>
  </main>
</div>
