<div class="black">
  <div class="video-overlay">
    <video
      class="video"
      width="100%"
      height="100%"
      id="trailer"
      autoplay
      [muted]="true"
      loop
      #trailer
    >
      <source [src]="trailerVideoUrl" type="video/mp4" />
    </video>
    <div class="gradient-overlay"></div>
  </div>

  <main class="video-offer">
    <div class="max-width vertical-center">
      <app-header></app-header>

      <div class="video-preview">
        <div class="video-info-preview">
          <h1>{{ trailerTitle }}</h1>
          <p>
            {{ trailerDescription }}
          </p>
          <div class="preview-buttons">
            <button routerLink="/videoplayer/{{ trailerId }}">Play</button>

            <button
              class="closeMobileTrailerButton"
              (click)="this.closeMobileTrailer()"
            >
              <img src="../../assets/img/icons/arrow_back.png" alt="" />
              Back
            </button>
          </div>
        </div>
      </div>

      <div class="video-content">
        
        <div class="video-category" *ngIf="videosWithProgress.length > 0">
          <h3>Watchlist</h3>
          <div class="video-thumbnails">
            <div
              *ngFor="let movie of videosWithProgress"
              [class.active]="movie.id === activeThumbnailId"
              (keydown)="handleKeydown($event)"
              (click)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
              (focusin)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
            >     

              <img
                [src]="movie.thumbnailUrl"
                alt="{{ movie.title }}"
                tabindex="0"
              />
            </div>
          </div>
        </div>

        <div class="video-category" *ngFor="let video of videos">
          <h3>{{ video.title }}</h3>
          <div class="video-thumbnails">
            <div
              *ngFor="let movie of video.videos"
              [class.active]="movie.id === activeThumbnailId"
              (keydown)="handleKeydown($event)"
              (click)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
              (focusin)="setActiveThumbnail(movie.id); onVideoClick(movie.id)"
            >
           
              <img
                *ngIf="movie.thumbnailUrl"
                [src]="movie.thumbnailUrl"
                alt="{{ movie.title }}"
                tabindex="0"
              />
            </div>
          </div>
        </div>


      </div>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
      <app-footer></app-footer>
    </div>
  </main>
</div>
